%h1
  Welcome to the arena.

%h3
  - if @last_fight
    Last Fight
    %p= @last_fight.result

%h2
  = link_to "Fight!", new_fight_path

%h5
  Setup
  %br
  = link_to "Player Creation", new_player_path
  %br
  = link_to "Player List", players_path
  %br
  = link_to "Fight List", fights_path
  %br
  = link_to "Items List", items_path
